#container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #b8b4b4;
    padding: 5px;
}

#display {
    width: 100%; 
    height: 80px; 
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    font-size: large;
}

div {
    display: flex;
    justify-content: space-around;
}

button {
    width: 100%;
    margin: 5px;
    height: 40px;
    flex: 1 0 21%;
}

button:disabled,
button[disabled]{
  border: 1px solid #b8b4b4;
  background-color: #b8b4b4;
  color: #b8b4b4;
  height: 40px;
}

.is-depressed {
    background-color: aqua;
    border: 1px solid black;
}
