#container {
    max-width: 600px;
    margin: 0 auto;
}

.rows {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    border-style:solid;
    border-color: blue;
}

.col {
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    .column {
        flex: 1;
    }
}